.not-found {
  background-image: url(../../assets/images/404-not-found.jpg);
  background-position: center;
  height: calc(100vh - 160px);
}

.not-found-title {
  padding: 1rem;
  color: #af0404;
  font-style: italic;
  font-size: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
